name: sv-tests-ci

on:
  push:
  pull_request:

jobs:
  Test:
    name: "Code Quality Checks"
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Script
        run:
          pip install -r conf/requirements.txt
      - name: Make
        run:
          make format
      - name: Test
        run:
          test $(git status --porcelain | wc -l) -eq 0 || { git diff; false; }
      - name: License
        run:
          ./.github/workflows/check_license.sh

  Run:
    strategy:
      fail-fast: false
      matrix:
        env:
          - { JOB_NAME: iverilog, MAKEFLAGS: -j2 }
          - { JOB_NAME: moore, MAKEFLAGS: -j2 }
          - { JOB_NAME: odin_ii, MAKEFLAGS: -j2 }
          - { JOB_NAME: slang, MAKEFLAGS: -j2 }
          - { JOB_NAME: sv-parser, MAKEFLAGS: -j2 }
          - { JOB_NAME: surelog, MAKEFLAGS: -j2 }
          - { JOB_NAME: tree-sitter-verilog, MAKEFLAGS: -j2 }
          - { JOB_NAME: yosys, MAKEFLAGS: -j2 }
          - { JOB_NAME: antmicro-yosys-complete, MAKEFLAGS: -j2 }
          - { JOB_NAME: verible, MAKEFLAGS: -j2 }
          - { JOB_NAME: verilator, MAKEFLAGS: -j2 }
          - { JOB_NAME: uhdm-integration-verilator, MAKEFLAGS: -j2 }
          - { JOB_NAME: uhdm-integration-yosys, MAKEFLAGS: -j2 }
          - { JOB_NAME: zachjs-sv2v, MAKEFLAGS: -j2 }

    name: ${{ matrix.env.JOB_NAME }}
    env: ${{ matrix.env }}
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install
        run:
          ./.github/workflows/install.sh
      - name: Run
        run:
          ./.github/workflows/run.sh
      - name: Analyze
        run:
          ./.github/workflows/analyze.sh
      - uses: actions/upload-artifact@v2
        with:
          name: changes_summary_${{ matrix.env.JOB_NAME }}
          path: |
            ./out/report/${{ matrix.env.JOB_NAME }}_changes_summary.json
            ./out/report/${{ matrix.env.JOB_NAME }}_report.csv

  Summary:
    name: Summary
    runs-on: ubuntu-18.04
    needs: Run
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Prepare output directories
        run: mkdir -p out/report
      - uses: actions/download-artifact@v2
        with:
          path: ./out/
      - name: Display structure of downloaded files
        run: ls -R ./out/
      - name: Summary
        run:
          ./.github/workflows/summary.sh
      - uses: actions/upload-artifact@v2
        with:
          name: tests_summary
          path: |
            ./out/report/tests_summary.json
            ./out/report/tests_report.csv
            ./out/report/base_report.csv

  Comment:
    name: Comment
    runs-on: ubuntu-18.04
    needs: Summary
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Prepare output directories
        run: mkdir -p out/report
      - uses: actions/download-artifact@v2
        with:
          name: tests_summary
          path: ./out/
      - name: Display structure of downloaded files
        run: ls -R ./out/
      - uses: harupy/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filename: template.md
